configuration: Release

image: Visual Studio 2017

branches:
  only:
    - master

before_build:
- ps: nuget restore

build:
  verbosity: minimal

deploy:
  tag: LatestCommit
  release: MeleeMedia [Latest Commit]
  description: 'This build is updated every time a commit is pushed to the master branch.\n\nMessage: $(APPVEYOR_REPO_COMMIT_MESSAGE)\n\n Timestamp: $(APPVEYOR_REPO_COMMIT_TIMESTAMP)'
  provider: GitHub
  auth_token:
    secure: xauaTCyRR7zXmIIk4uXxttIa2s/DKhiMVYbGn6BMy/suM2ow6gUe0GNrnS+d1Q/q
  artifact: MeleeMedia.zip
  draft: false
  prerelease: true
  force_update: true
  on:
    branch: master

after_build:
  - 7z a "MeleeMedia.zip" "%APPVEYOR_BUILD_FOLDER%\MeleeMedia\bin\Release\MeleeMedia.exe"
  - 7z a "MeleeMedia.zip" "%APPVEYOR_BUILD_FOLDER%\MeleeMedia\bin\Release\MeleeMedia.exe.config"
  - 7z a "MeleeMedia.zip" "%APPVEYOR_BUILD_FOLDER%\MeleeMedia\bin\Release\lib"
  - 7z d "MeleeMedia.zip" "lib\*.xml"
  - appveyor PushArtifact "MeleeMedia.zip"